footer
    background-color: #363636
    height: 400px
    .reseaux
        display: flex
        justify-content: space-between
        align-items: center 
        width: 30%
        height: 35%
        margin: auto
        @media screen and ( min-width: $screen_xs ) and ( max-width: $screen_s )
            flex-direction: column
            padding: 20px 0
        @media screen and ( min-width: $screen_s ) and ( max-width: $screen_m )
            width: 70%
        @media screen and ( min-width: $screen_m ) and ( max-width: $screen_l )
            width: 50%
        a
            display: flex
            justify-content: space-between
            align-items: center
            text-decoration: none
            color: white
            font-size: 10px
            i
            padding-right: 8px
    hr
        background-color: #ffffff49
        border: none
        height: 0.7px
    .logo_mlg
        display: flex
        justify-content: center
        align-items: center
        height: 100px
        margin: 50px
        img
            width: 200px
    p
        text-align: center
        font-size: 8px
        color: #ffffff57
