// section 1 
.section_un
    width: 80%
    margin: auto
    h1
        text-align: center
        font-size: 40px
        font-weight: 200
        padding: 25px 0
        @media screen and ( min-width: $screen_xs ) and ( max-width: 550px )
            margin: 0
    hr
        width: 4%
        background-color: #9b009d
        border: none
        height: 1px
        margin-bottom: 60px
        @media screen and ( min-width: $screen_xs ) and ( max-width: 550px )
            margin-bottom: 30px
    p
        font-size: 16px
        line-height: 1.5
    ul
        line-height: 3
        li::marker
            color: #9b009d
        @media screen and ( min-width: $screen_xs ) and ( max-width: 550px )
            line-height: 1.5
            font-size: 14px
            padding: 20px
        li
            @media screen and ( min-width: $screen_xs ) and ( max-width: 550px )
                margin-top: 8px
